@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


a {
    cursor: pointer;
    text-decoration: none;  
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 264px;
    max-width: 264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;
}

.main {
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}


.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.15rem;
    font-weight: 600;
}

a.sidebar-link {
    display: block;
    padding: 0.625rem 1.625rem;
    color: #e9ecef;
    font-size: 0.875rem;
    position: relative;
}


    .accordion-button.collapsed {
        background-color: #f8f9fa;
        color: inherit;
    }

   
    .accordion-button:not(.collapsed) {
        background-color: var(--bs-warning-bg-subtle);
        color: var(--bs-warning-text);
    }

    #sidebar.collapsed {
        margin-left: -264px;
    }

    @media (max-width: 767.98px) {
        .js-sidebar {
            margin-left: -264px;
        }
        
        #sidebar.collapsed {
            margin-left: 0;
        }
        
        .navbar, footer {
            width: 100vw;
        }
    }


.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    width: 100vw;
}

@media (min-width: 768px) {
    .content {
        width: auto;
        max-width: auto;
    }
}

img {
    width: 30px;
    height: 30px;
  }

  .contentDahboard{
    min-height: 85vh;
    max-height: 85vh;
    overflow-y: scroll;
  }